In [ ]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Convert flot into int 

X=1.4
x=int(X)
print(type(x))

<class 'int'>

In [ ]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x=float(5)
print(x)

#convert from float to int:
y=int(3.8)
print(y)

#convert from int to complex:
z=complex(5j)
print(z)

In [ ]:
            #convert from int to float:
x=5
print(type(x))
x=float(5)
print(x)
print(type(x))

<class 'int'>
5.0
<class 'float'>

In [ ]:
            #convert from float to int:
y=3.8
print(type(y))
y=int(3.8)
print(y)
print(type(y))

<class 'float'>
3
<class 'int'>

In [ ]:
           #convert from int to complex:
z = 5j
type(complex(z))

complex

In [ ]:
# Print 15 random numbers

import random

print(random.randrange(1, 15) )

9

In [ ]:
# Convert int ,float to string 

x = _____("t5") 
y = ____(4)    
z = ____(6.0)

In [ ]:
                #This is already string
x = ("t5")
print(type(x))

<class 'str'>

In [ ]:
               #Converted Int to Str
y = 4
print(type(y))
str(y)         
type(str(z))

<class 'int'>

str

In [ ]:
              #Converted Float to Str
z = (6.0)
print(type(z))
str(z)        
type(str(z))

<class 'float'>

str

In [ ]:
# Assign a string to variable 

a="Hello"
print(a)

Hello

In [ ]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [ ]:
# Print the output='lo, Wor'
a = "Hello, World!"
print(a[3:-3])

lo, Wor

In [8]:
# Check the required string/word is in the sentence of not

Sentence="Hello Indian , I like you culture."

print('like in', Sentence)

like in Hello Indian , I like you culture.

In [ ]:
# Print the output='I Love'
Sentence="I Love India!"
print(Sentence[0:6])

I Love

In [ ]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(price, quantity, itemno))

I want to pay 567 dollars for 49.95 pieces of item 3.

In [ ]:
# remove the error
Sent = "We will vist \"America\" after two days."             # by using escape character \
print(Sent)

We will vist "America" after two days.

In [ ]:
# Print the sentence after comma in next line 
Sent=" Hii Mona ,\n When will we go for holidays ?  "         # by using escape character \n
print(Sent)

 Hii Mona ,
 When will we go for holidays ?

In [ ]:
# Remove the duplicate from the list 

List=["Ram",'Sam','Nick','Sam']
a=set(List)
print(a)

{'Sam', 'Nick', 'Ram'}

In [ ]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-4:])

['orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1]="Micky"
print(List)

['Ram', 'Micky', 'Nick', 'Sam']

In [ ]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List.insert(3,"Micky")
print(List)

['Ram', 'Sam', 'Nick', 'Micky', 'Sam']

In [ ]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
print(y)
y.insert(1,"kiwi")
print(y)
x=tuple(y)
print(x)

['apple', 'banana', 'cherry']
['apple', 'kiwi', 'banana', 'cherry']
('apple', 'kiwi', 'banana', 'cherry')

In [ ]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("Mango")

print(Fruits)

{'banana', 'cherry', 'apple', 'Mango'}

In [ ]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
Fruit1.update(Fruit2)
print(Fruit1)

{'banana', 'mango', 'cherry', 'pineapple', 'apple', 'papaya'}

In [ ]:
# Remove the any item from the set
 
set={"Krishh","Prince","KUmar"}
set.remove("Prince")
print(set)

{'KUmar', 'Krishh'}

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

print(x)

Bike["cc"] = "180"

print(x) #after the change
print(x)
print(Bike)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'cc'])
dict_keys(['brand', 'model', 'year', 'cc'])
{'brand': 'Bajaj', 'model': 'TVS', 'year': 2013, 'cc': '180'}

In [ ]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car.update({"year": 2020})
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.items()
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}