**[Slide No. 47]**

1. Create a empty Dictionary and check its Data type.

In [3]:
a={}
print(type(a))

<class 'dict'>

**[Slide No.48]**

2.  Write a Python program  to add a key to a dictionary

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [19]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

**[Slide No. 48]**

3.  Write a Python script to concatenate following dictionaries to create a new one.

Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [25]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**[Slide No. 48]**

4. Write a program to create Dictionary and add new item in it.

In [33]:
dict1 = {"brand": "Ford","model": "Mustang", "year": 1964}
dict1["color"] = "red"
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**[Slide No. 48]**

5. Write a program to create Dictionary and delete the item at 3 index .

In [6]:
mydict = {"A":"Apple", "B":"Boy", "C":"Cat", "D":"Dog","E": "Elephant"}
mydict.pop('D')
print(mydict)

{'A': 'Apple', 'B': 'Boy', 'C': 'Cat', 'E': 'Elephant'}

**[Slide No. 48]**

6. Write a program to create dictionary and delete last item from it.

In [50]:
mydict = {"A":"Apple", "B":"Boy", "C":"Cat", "D":"Elephant"}
del mydict["D"]
print(mydict)

{'A': 'Apple', 'B': 'Boy', 'C': 'Cat'}

**[Slide No. 49]**

7. Create a dictionary and print the item at 2nd index value.

In [11]:
mydict = {"1":"Apple", "2":"Boy", "3":"Cat", "4":"Elephant"}
mydict["3"]

'Cat'

**[Slide No. 49]**

8. Create a Dictionary and change the range of key value .

In [17]:
dict1={'a':12, 'b':15, 'c':20}
dict1['c']=33
print(dict1)

{'a': 12, 'b': 15, 'c': 33}