**[Slide No.- 35]**

1. Create a empty list and check its Data type

In [60]:
list=[]
print(list)
type(list)

[]

list

**[Slide No.- 35]**

2. Create a list in which at even places string are present and at odd places integervalue is present and the length of the string is 6.

In [31]:
aa=[3,'ghijkl',5,'mnopqr',7,'stuvwx',11,'yzabcd',13,'efghij',1,'abcdef',]
print(aa)
type(aa)

[3, 'ghijkl', 5, 'mnopqr', 7, 'stuvwx', 11, 'yzabcd', 13, 'efghij', 1, 'abcdef']

list

**[Slide No. - 36]**

3. Create a lsit which has 6 elements and print last three elements from the list

In [62]:
dc=['Ram',20,'DX',25,'PC',7.5]
print(dc[-3:])

[25, 'PC', 7.5]

**[Slide No. - 36 ]**

4. What is the output :
 list = [1,2,3,4,5,6,7] 
 
 list[:]=?

In [27]:
list=[1,2,3,4,5,6,7]
print(list[:])

[1, 2, 3, 4, 5, 6, 7]

**[Slide No. - 36]**

5. What is the output : list = [1,2,3,4,5,6,7]

Print the even places items from the list.

In [82]:
list = [1,2,3,4,5,6,7]
list[1::2]
print(list[1::2])

[2, 4, 6]

**[Slide No. - 36]**

6. What is the output : list = [1,2,3,4,10,11,7]

print 10 and 11 item from the list .

In [76]:
list=[1,2,3,4,10,11,7]
list[4:6]
print(list[4:6])

[10, 11]

**[Slide No. -38]**

7.  Delete the 3 index value from the list and the print the list.

list = [1, 2, 3, 4, 5, 6]    

print(list)

In [34]:
list=[1,2,3,4,5,6]
list.remove(3)
print(list)

[1, 2, 4, 5, 6]

[Slide No. - 37]
8. list = [1, "a", 3, 4, 5, 6] 

replace "a" by 2 in the list

What is the new list?

In [38]:
list=[1, "a", 3, 4, 5, 6]
list[1]=2
print(list)

[1, 2, 3, 4, 5, 6]

**[Slide No - 37]**

9. list = [1, 2, 3, 4, 5, 6] 

by using neagtive indexing replace 5 by 'e' in the list 

print(list)

In [43]:
list=[1, 2, 3, 4, 5, 6]
list[-2]='e'
print(list)

[1, 2, 3, 4, 'e', 6]

**[Slide No. - 37]**

10. list = [1, 2, 3, 4, 5, 6] 

replace 1st and 2nd index value by (89,78)

rint(list)

In [66]:
list = [1, 2, 3, 4, 5, 6]
list[1:3]=[89,78]
print(list)

[1, 89, 78, 4, 5, 6]

**[Slide No. -38]**

11. Create a list and delete 2 to 4 index value  from list ?

In [85]:
list=[1, 2, 3, 4, 5, 6]
del list[1:4]
print(list)

[1, 5, 6]

**[Slide No.- 39]**

12. Rermove Science  item from the list.

Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']

In [54]:
Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']
Subject.remove('science')
print(Subject)

['math', 'hindi', 'SST', 'Sanskrit']

In [57]:
Subject =['math', 'science', 'hindi', 'SST', 'Sanskrit']
Subject.pop(1)
print(Subject)

['math', 'hindi', 'SST', 'Sanskrit']