**[Slide No. 41]**

1. Write a Python program to create a set.

In [3]:
set={1,2,3,5.6, "abc"}
print(set)

{1, 2, 3, 5.6, 'abc'}

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [26]:
set1 = {1,2,3,4}
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

In [49]:
set={123}
string=["abc"]
integer={4,5,6}
list1=[8,9,10]
float=[1.6]
set.update(string,integer,list1,float)
print(set)

{1.6, 4, 5, 6, 8, 9, 10, 123, 'abc'}

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [53]:
set={1,2,3}
set1={4,5,6}
set.update(set1)
print(set)

{1, 2, 3, 4, 5, 6}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [61]:
#Discard method removes a specified element from the Set
my_set = {1, 3, 4, 5, 6}
my_set.discard(1)
print(my_set)

{3, 4, 5, 6}

In [ ]:
#Remove method raises an error when the specified element doesn't exist in the given set
my_set = {1, 3, 4, 5, 6}
my_set.remove(4)
print(my_set)

{1, 3, 5, 6}

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [68]:
set1={1,1,2,2,3,4,5,4,6,3}
print(set1)

{1, 2, 3, 4, 5, 6}

7.  Write a Python program to clear a set.

In [71]:
set1={'a','b',1,2,}
set1.clear()
print(set1)

set()

**[Slide No. 43]**

8. Write a program to add two set.

In [76]:
set1={1,2,3,4}
set2={5,6,7,8}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [79]:
months ={"January","February", "March", "April", "May", "June"}
print(months)

{'April', 'February', 'May', 'March', 'January', 'June'}

In [88]:
months ={"January","February", "March", "April", "May", "June"}
months.remove("January")
print(months)

{'April', 'February', 'May', 'March', 'June'}

In [86]:
months ={"January","February", "March", "April", "May", "June"}
months.remove("May")
print(months)

{'April', 'February', 'March', 'January', 'June'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [93]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
Days2 = {"Friday","Saturday","Sunday"}
days=Days1.union(Days2)
print(days)

{'Tuesday', 'Sunday', 'Friday', 'Wednesday', 'Monday', 'Saturday', 'Thursday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [4]:
set1={"a","b","c"}
set2={"a", "s", "d", "f"}
set3=set1.intersection(set2)
print(set3)

{'a'}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [3]:
set1={"a","b","c"}
set2={"a", "s", "d", "f"}
set=set1.difference(set2)
print(set)

{'c', 'b'}