[Slide No- 39]

1. Create empty tuple and check its Data type.

In [15]:
tuple=()
print(tuple)
type(tuple)

()

tuple

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [21]:
T1 = (101, "Peter", 22)
T2 = ("Apple", "Banana", "Orange")
T3 = (10,20,30,40,50)

print(type(T1))
print(type(T2))
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [25]:
tup = (1,2,3,4,5,6,7)
print(tup[0])

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [27]:
tup = (1,2,3,4,5,6,7)
print(tup[8])
#It shows error because tuple only have six indexes

IndexError: ignored

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [31]:
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [1]:
tuple=(1,2,3,4,5)
list(tuple)
list1=list(tuple)
del list1[1:4]
tuple=list1
print(tuple)

[1, 5]

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [2]:
tuple=(1,2,3,4,5)
list(tuple)
list1=list(tuple)
del list1[2]
tuple=list1
print(tuple)

[1, 2, 4, 5]

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [ ]:
 tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-2:])
print(tuple1[-2])
print(tuple1[::-1])

(4, 5)
4
(5, 4, 3, 2, 1)